@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-snap-type: y mandatory;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  bottom: 100px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: red;
}
