@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "iCielBC1676ModernMap";
  src: url("../public/fonts/iCielBC1676ModernMap.ttf");
}

@font-face {
  font-family: "iCielBCOldstyle-Italic";
  src: url("../public/fonts/iCielBCOldstyle-Italic.ttf");
}

@font-face {
  font-family: "iCielBCOldStyle-Regular";
  src: url("../public/fonts/iCielBCOldStyle-Regular.ttf");
}

@font-face {
  font-family: "Joyride-Extended";
  src: url("../public/fonts/Joyride-Extended.otf");
}

@font-face {
  font-family: "DFVN_afronaut";
  src: url("../public/fonts/DFVN_afronaut.otf");
}

@font-face {
  font-family: "Benzin-Extra-Bold";
  src: url("../public/fonts/Benzin-Extra-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;

  scroll-snap-type: y mandatory;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: black;
  bottom: 100px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom {
  zoom: 1;
}
/* 
@media screen {
  .zoom {
    zoom: 0.5;
  }
}

@media (min-width: 576px) {
  .zoom {
    zoom: 0.5;
  }
}

@media (min-width: 768px) {
  .zoom {
    zoom: 0.5;
  }
}

@media (min-width: 992px) {
  .zoom {
    zoom: 0.8;
  }
}

@media (min-width: 1200px) {
  .zoom {
    zoom: 1;
  }
} */

.zoom-normal {
  zoom: 1;
}

.text-header {
  @apply text-3xl font-[700] uppercase mt-4;
}

.text-paragraph {
  @apply text-2xl mt-1 text-justify;
}

.text-button-linking {
  @apply flex items-center justify-center  bg-white cursor-pointer p-3  text-3xl;
}

.button-cv-page {
  @apply px-2 py-1 rounded-md  font-bold text-white block  min-w-[60px] opacity-70;
}

.iCielBC1676ModernMap {
  font-family: "iCielBC1676ModernMap";
}

.iCielBCOldstyle-Italic {
  font-family: "iCielBCOldstyle-Italic";
}

.iCielBCOldStyle-Regular {
  font-family: "iCielBCOldStyle-Regular";
}

.Joyride-Extended {
  font-family: "Joyride-Extended";
}

.DFVN_afronaut {
  font-family: "DFVN_afronaut";
}
.Benzin-Extra-Bold {
  font-family: "Benzin-Extra-Bold";
}

::-webkit-scrollbar {
  display: none;
}

.img-suffle {
  width: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.item {
  gap: 10px;
}

.item:hover .img-suffle {
  width: 20vw;
  opacity: 1;
}

.fall-and-disapper {
  animation: fallAndDisapper 5s infinite ease-in-out;
  transform-origin: bottom;
  transform: scale(0);
}

@keyframes fallAndDisapper {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(1);
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    top: -200px;
    transform: scale(1);
  }
  100% {
    top: -150px;
    left: -300px;
    transform: scale(0);
  }
}

.background-paper {
  background-image: url("../public/FW_Paper_White_01.jpg");
  background-size: cover;
}

.music-item {
  @apply p-4 bg-white/10 rounded-lg flex flex-col gap-3;
}
